<div class="shelf">
	<div class="shelf-top">
		<div class="shelf-switch"></div>
		<a href="/search">
			<div class="shelf-search">请输入书名/作者/关键字</div>
		</a>
	</div>
	<ul class="book-list">
		<li>
			<div class="u-book">
				<a> 
					<div class="book-cover">
						
						<img alt="" src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01218evHUus/wuaHsuBkxWTZT9.jpg!s">
					</div>
				</a>
				<div class="info">
					<h3 class="title">十八岁鬼妻</h3>
					<p class="author">
						<span class="author"></span>
					</p>
					<div class="wrap">
						<p>最新更新</p>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>