<section class="channel-h5">
	<div class="channel-h5-header">
		<p class="channel-h5-title">
			女生最爱
		</p>
	</div>
	<div>
		<ul class="list-h5">
			<li v-for="(item,index) in female" v-if="index < 5">
				<div class="book-h5">
					<div class="book-h5-cover">
						<img :alt="item.title" :src="item.cover">
						<p class="book-h5-finish">完结</p>
					</div>
					<div class="book-h5-info">
						<p class="book-h5-title">{{item.title}}</p>
						<p class="book-h5-author">{{item.authors}}</p>
						<p class="book-h5-summary">{{item.summary}}</p>
						<div class="book-h5-wrap">
							<div class="book-h5-tag" v-for="(tag,index) in item.tags" v-if="index < 3 && tag.length < 6">
								{{tag}}
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
	<div class="channel-h5-footer-next">
		<a href="javascript:">换一换</a>
		<a href="/female">女生频道</a>
	</div>
</section>