<section>
	<div class="channel-group main-card">
		<div class="channel-group-header">
			<h2 class="channel-group-title">限时免费</h2>
		</div>
		<ul class="book-table">
			<li v-for="(item, index) in free" v-if="index < 9">
				<div class="u-book">
					<div class="book-cover">
						<img :alt="item.data.title" :src="item.data.cover">
						<div class="u-tagRT -freefiction"></div>
					</div>
					<div class="book-info">
						<h3 class="book-title">{{item.data.title}}</h3>
					</div>
				</div>
			</li>
		</ul>
		<a class="channel-group-footer" href="/free">更多限免佳作&gt;&gt;</a>
	</div>
</section>