.container-wrap{
	height: 100%;
	overflow: hidden;
}
.container-scroll{
	position: absolute;
	top: 45px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden; 
}
.container-scroll > div{
	height: 100%
}
.Pull-scroll{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}

.header-tab{
	padding: 0px 90px;
	text-align: center;
	line-height: 44px;
	background: #efeff0;
	border-bottom: 1px solid #ddd;
	position: relative;
}
.header-tab i{
	bottom: -1px;
}
.header-tab i::before{
	content: '';
	display: block;
	width: 34px;
	height: 2px;
	margin: 0 auto;
	background: #777;
}
.header-user{
	position: absolute;
	top: 0;
	right: 0;
	width: 44px;
	height: 44px;
	background: url(/static/img/user.png) no-repeat center;
	background-size: 16px;
}
.Swipe-tab{
	position: relative;
	overflow: hidden;
	z-index: 1
}
.Swipe-tab a{
	float: left;
	text-align: center;
}
.Swipe-tab i{
	position: absolute;
	left: 0;
	-webkit-transition: -webkit-transform .3s ease-out;
}
.Swipe-tab_2 a{
	width: 50%
}
.f-cb{
	clear: both;
	content: '';
	display: block;
	overflow: hidden;
}
.Swipe-tab-on{
	color: #ff6600;
}

.banner-h5{
	border-bottom: 10px solid #f5f5f5;
}
.banner-h5-list{
	padding: 13px 13px 0px;
}
.banner-h5-list > div{
	margin: 0 -3px -3px;
	overflow: hidden;
}
.banner-h5-list li{
	float: left;
	width: 50%;
	margin-bottom: 16px;
	padding: 0 3px;
	box-sizing: border-box;
}
.banner-h5-cover{
	position: relative;
	padding-bottom: 60.6%;
	border: 1px solid #f0f0f0;
	border-radius: 1px; 
}
.banner-h5-cover img{
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 1px
}

.channel-h5-footer-next{
	border-top: 1px solid #f0f0f0;
	overflow: hidden;
}
.channel-h5-footer-next a{
	float: left;
	width: 50%;
	padding: 14px;
	font: 13px/1.3em a;
	color: rgba(0,0,0,0.9);
	text-align: center;
	box-sizing: border-box;
}
.channel-h5-footer-next > a:first-child{
	border-right: 1px solid #f0f0f0;
}

.channel-group{
	position: relative;
}
.main-card{
	border-bottom: 10px solid #f5f5f5;
}
.channel-group-header{
	position: relative;
	padding: 10px 14px;
	border-bottom: 1px solid #f0f0f0;
	border-left: 6px solid #ffab18;
}
.channel-group-title{
	font-size: 16px;
	font-weight: 400;
	color: #333;
}
.book-table{
	padding: 13px 14px 5px;
	font-size: 0
}
.book-table li{
	width: 33.3%;
	display: inline-block;
	vertical-align: top;
	line-height: 1;
	margin-bottom: 8px;
}
.u-book{
	width: 86px;
	position: relative;
	overflow: hidden;
}
.book-cover{
	position: relative;
	width: 86px;
	height: 113px;
	background-color: #eeeec9;
	box-shadow: 0px 6px 5px -3px #aaa;
	border: 1px solid #f0f0f0;
	overflow: hidden;
	border-bottom: none;
}
.book-cover img{
	width: 100%;
	height: 100%;
}
.book-info{
	padding-top: 8px;
}
.book-title{
	font-size: 13px;
	line-height: 1.4em;
	max-height: 2.8em;
	overflow: hidden;
	color: #8d8d8d;
	font-weight: 400;
}
.u-tagRT{
	position: absolute;
	top: 0px;
	right: 0px;
	line-height: 1.4;
	background-color: #ef6c2c;
	color: #fff;
	width: 100%;
	font-size: 12px;
	text-align: center;
	-webkit-transform-origin: top center;
	-webkit-transform: translateX(50%) rotate(45deg) translateY(50%) scale(0.8);
}
.u-tagRT.-freefiction{
	background-color: #49ad3f;
}
.u-tagRT.-freefiction:before{
	content: '\9650\514d';
}
.channel-group-footer{
	display: block;
	border-top: 1px solid #f0f0f0;
	text-align: center;
	font-size: 14px;
	padding: 10px 0;

}

.channel-h5{
	background: #fff;
	border-bottom: 10px solid #f5f5f5;
	position: relative;
}
.channel-h5-header{
	padding: 15px 13px 14px 13px;
	border-bottom: 1px solid #f0f0f0;
	position: relative;
}
.channel-h5-title{
	position: relative;
	font: bold 13px/13px a;
	color: rgba(0,0,0,0.9);
}
.channel-h5-title > i{
	position: absolute;
	margin: -1px 0 0 5px;
	padding: 3px 5px 0 5px;
	font: 9px/9px a;
	color: #fff;
	background: #53ac7d;
	border-radius: 1px;
}
.tab{
	position: absolute;
	right: 13px;
	top: 9px;
}
.tab a{
	position: relative;
	padding: 16px 7px;
	font: 12px/12px a;
	color: #999;
}
.tab a::after{
	content: '';
	position: absolute;
	top: 16px;
	bottom: 16px;
	right: 0;
	width: 1px;
	border-right: 1px solid #ccc;
}
.tab a:last-child{
	padding: 0;
}
.tab a:last-child:after{
	display: none;
}
.tab-on{
	color: #528ae8 !important;
}
.list-h5{
	padding: 0 13px;
}
.list-h5 li{
	padding: 17px 0;
	border-bottom: 1px solid #f0f0f0;
}
.list-h5 li:last-child{
	border: none;
}
.book-h5{
	overflow: hidden;
}
.book-h5-cover{
	float: left;
	position: relative;
	width: 85px;
	height: 113px;
	background: #eeece9;
	border: 1px solid #f0f0f0;
	border-radius: 1px;
	overflow: hidden;
}
.book-h5 img{
	width: 100%;
	height: 100%;
	border-radius: 1px;
}
.book-h5-finish{
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #fff;
	padding: 25px 7px 6px;
	font: 10px/10px a;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.3));
}
.book-h5 .book-h5-info{
	margin-left: 100px;
	padding: 6px;
	background: #fff;
}
.book-h5-title{
	margin-bottom: 4px;
	font: 16px/17px a;
	color: rgba(0,0,0,0.9);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap; 
}
.book-h5-author{
	margin-top: 8px;
	font: 12px/12px a;
	color: rgba(0,0,0,0.7);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.book-h5-summary{
	margin: 8px 0 0;
	height: 2.8em;
	font: 12px/1.4em a;
	color: rgba(0,0,0,0.6);
	overflow: hidden;
	text-overflow: ellipsis;

	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.book-h5-wrap{
	margin-top: 10px;
	padding-top: 3px;
	overflow: hidden;
}
.book-h5-tag{
	float: left;
	margin: -3px 7px 0 0;
	padding: 3px 6px 2px;
	max-width: 6em;
	font: 10px/11px a;
	color: #53ac7d;
	border-radius: 3px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border: 1px solid #53ac7d;
}
.book-h5-tag:last-child{
	margin-right: 0
}
.book-h5-no-img-order{
	float: left;
	margin-top: 1px;
	font: 13px/13px a;
	color: rgba(237,83,15,0.9);
}
.book-h5-no-img-info{
	margin-left: 27px;
}
.book-h5-no-img-title{
	font: 15px/15px a;
	color: rgba(0,0,0,0.9);
	background: #fff;
}

.channel-h5-footer-next{
	border-top: 1px solid #f0f0f0;
	overflow: hidden;
}
.channel-h5-footer-next a{
	float: left;
	width: 50%;
	padding: 14px;
	font: 13px/1.3em a;
	color: rgba(0,0,0,0.9);
	text-align: center;
	box-sizing: border-box;
}
.channel-h5-footer-next > a:first-child{
	border-right: 1px solid #f0f0f0;
}

.top-home{
	background: #fff;
	border-bottom: 10px solid #f5f5f5;
}
.top-home-search{
	margin: 10px 13px;
	padding: 1px 0 0 30px;
	font: 11px/33px a;
	color: rgba(0,0,0,0.4);
	background: url(/static/img/search.png) no-repeat 8px;
	background-size: 16px;
	border: 1px solid #f5f5f5;
	border-radius: 2px;
}
.cover{
	width: 100%
}
.top-home-btn{
	margin: 14px 0 4px;
	display: -webkit-box;
	width: 100%;
}
.top-home-btn li{
	line-height: 2.4;
	font-size: 12px;
	text-align: center;
	-webkit-box-flex: 1;
}
.top-home-icon{
	display: block;
	margin: 0 auto;
	width: 22px;
	height: 22px;
}


.shelf-top{
	padding: 10px 20px 0;
}
.shelf-top .shelf-search{
	margin-right: 46px;
}
.shelf-search{
	font-size: 12px;
	color: #ccc;
	border: 1px solid #eee;
	border-radius: 4px;
	line-height: 36px;
	background:url(/static/img/search.png) no-repeat 10px center;
	background-size: 14px;
	padding-left: 32px;
}
.shelf-switch{
	width: 36px;
	height: 36px;
	float: right;
	border-radius: 4px;
	background: url(/static/img/switch.png) no-repeat center;
	background-size: 16px;
	border: 1px solid #eee;
}
.shelf .book-list .u-book{
	padding: 13px 20px;
	width: auto;
}
.u-book .book-cover{
	float: left;
	margin-right: 10px;
}
.u-book .info{
	padding-top: 1.2em;
}

.top{
	position: relative;
	height: 44px;
	border-bottom: 1px solid #ddd;
	font: 15px/45px a;
	color: rgba(0,0,0,0.7);
	background-color: #efeff0;
}
.top-back{
	float: left;
	width: 42px;
	height: 44px;
}
.top-back:before{
	content: '';
	display: block;
	margin: 15px 0 0 16px;
	width: 10px;
	height: 16px;
	background: url(/static/img/back.png) no-repeat;
	background-size: 10px 16px;
}
.header-home{
	float: right;
	width: 44px;
	height: 44px;
	background: url();
	background-size: 16px auto;
}
.u-book.-detail{
    padding: 30px 20px 30px 30px;
    display: table;
    width: 100%;
    box-sizing: border-box;
}
.u-book.-detail .info {
    padding: 0;
    display: table-cell;
    vertical-align: middle;
}
.u-book.-detail .author {
    color: #4b99a7;
    line-height: 1.4;
}
.u-book.-detail .price {
    color: #727272;
}
.u-book .price, .u-book .count {
    color: #6e6e6e;
    font-size: 12px;
}
.u-booktag.-serial {
    color: #63bd6e;
    border-color: #63bd6e;
}
.u-book .u-booktag {
    margin-left: 3px;
}
.u-booktag {
    border: 1px solid #00a0e9;
    color: #55b4ec;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    -webkit-transform: scale(.83);
    padding: 0 2px;
}
.u-book.-detail .title {
    margin-bottom: 13px;
    overflow: hidden;
}
.u-book.-detail .author>span {
    display: inline-block;
    margin-right: 5px;
}







