<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" type="text/css" href="/static/css/all.css">
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<title>书籍详情</title>
</head>
<body>
	<div id="app" style="width: 320px; overflow: hidden; position: relative; height: 100%">
		<% include include/common-header.html %>
		<div class="container-scroll" style="360px">
			<div class="book-page">
				<section class="main-card">
					<div class="u-book -detail">
						<div class="book-cover">
							<img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01218evHUus/wuaHsuBkxWTZT9.jpg!s">
						</div>
						<div class="info">
							<h3 class="title">十八岁少女</h3>
							<p class="author">
								<span class="author">
									囡囡
								</span>
								<div class="u-grade">
									<span class="read">12个评价</span>
								</div>
								<p class="price">价格： 1书币／千字</p>
								<p class="count">
									字数： 70000字
									<span class="u-book-tag -serial"></span>
								</p>
							</p>
						</div>
					</div>
				</section>
			</div>
		</div>
		
	</div>
</body>
<script src="/static/script/vue.js"></script>
<script src="/static/script/zepto.min.js"></script>
<script src="/static/script/pages/book.js"></script>
</html>